.filter {
	// .filter__wrapper
	&__wrapper {
	}
	// .filter__inner
	&__inner {
	}
	// .filter__body
	&__body {
	}
	// .filter__title-box
	&__title-box {
	}
	// .filter__title
	&__title {
	}
	// .filter__range
	&__range {
	}
	// .filter__filter
	&__filter {
		width: 100%;
		max-width: 400px;
		padding: 40px;
		border-radius: 10px;
		background: linear-gradient(135deg, rgba(174, 228, 178, 0.3) 0%, rgba(149, 208, 161, 0.3) 100%);
	}
	// .filter__rooms
	&__rooms {
		display: flex;
	}
	// .filter__room-btn
	&__room-btn {
		width: 100%;
		flex: 0 1 44px;
		width: 44px;
		height: 44px;
		border-radius: 50%;
		background-color: #fff;
		box-shadow: 0px 0px 0px #95D0A1;
		transition-duration: 0.3s;
		font-size: 16px;
		line-height: 24 / 16 * 100%;
		text-align: center;
		+ .filter__room-btn {
			margin-left: 16px;
		}
		&.active {
			color: #fff;
			background-color: #3EB57C;
			box-shadow: 0px 6px 20px #95D0A1;
		}
		@media (any-hover: hover){
			&:hover {
				box-shadow: 0px 6px 20px #95D0A1;
			}
		};
	}
	// .filter__filter-count
	&__filter-count {
	}
	// .filter__count-title
	&__count-title {
	}
	// .filter__currency
	&__currency {
	}
	// .filter__inputs
	&__inputs {
	}
	// .filter__shell
	&__shell {
	}
	// .filter__label
	&__label {
	}
	// .filter__start
	&__start {
	}
	// .filter__input
	&__input {
	}
	// .filter__slider
	&__slider {
	}
	// .filter__filter-measure
	&__filter-measure {
	}
	// .filter__measure
	&__measure {
	}
	// .filter__reset
	&__reset {
	}
	// .filter__reset-btn
	&__reset-btn {
	}
	// .filter__content
	&__content {
	}
}
.container {
}
