* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body.lock {
  overflow: hidden;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button {
  cursor: pointer;
}

button:active {
  -webkit-tap-highlight-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  display: inline-block;
}

a:hover {
  text-decoration: none;
}

ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  font-size: 0;
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: inherit;
  font-size: inherit;
}

@font-face {
  font-family: 'PT Root UI';
  src: url("../../fonts/PT-Root-UI_Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT Root UI';
  src: url("../../fonts/PT-Root-UI_Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT Root UI';
  src: url("../../fonts/PT-Root-UI_Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'PT Root UI', sans-serif;
  color: #0B1739;
}

body.lock {
  overflow-x: hidden;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.content {
  flex: 1 0 auto;
  margin-right: 0;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

.filter__filter {
  width: 100%;
  max-width: 400px;
  padding: 40px;
  border-radius: 10px;
  background: linear-gradient(135deg, rgba(174, 228, 178, 0.3) 0%, rgba(149, 208, 161, 0.3) 100%);
}

.filter__rooms {
  display: flex;
}

.filter__room-btn {
  width: 100%;
  flex: 0 1 44px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 0px 0px #95D0A1;
  transition-duration: 0.3s;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
}

.filter__room-btn + .filter__room-btn {
  margin-left: 16px;
}

.filter__room-btn.active {
  color: #fff;
  background-color: #3EB57C;
  box-shadow: 0px 6px 20px #95D0A1;
}

@media (any-hover: hover) {
  .filter__room-btn:hover {
    box-shadow: 0px 6px 20px #95D0A1;
  }
}