* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button:active {
  -webkit-tap-highlight-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  display: inline-block;
}

a:hover {
  text-decoration: none;
}

ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  font-size: 0;
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: inherit;
  font-size: inherit;
}

@font-face {
  font-family: 'PT Root UI';
  src: url("../fonts/PT-Root-UI_Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT Root UI';
  src: url("../fonts/PT-Root-UI_Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT Root UI';
  src: url("../fonts/PT-Root-UI_Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'PT Root UI', sans-serif;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.content {
  flex: 1 0 auto;
  margin-right: 0;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: textfield;
}

.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

.noUi-target {
  position: relative;
}

.noUi-base,
.noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.noUi-connects {
  overflow: hidden;
  z-index: 0;
}

.noUi-connect,
.noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  transform-style: flat;
}

.noUi-connect {
  height: 100%;
  width: 100%;
}

.noUi-origin {
  height: 10%;
  width: 10%;
}

.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
  left: 0;
  right: auto;
}

.noUi-vertical .noUi-origin {
  width: 0;
}

.noUi-horizontal .noUi-origin {
  height: 0;
}

.noUi-handle {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}

.noUi-touch-area {
  height: 100%;
  width: 100%;
}

.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  transition: transform .3s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}

.noUi-horizontal {
  height: 18px;
}

.noUi-horizontal .noUi-handle {
  width: 34px;
  height: 28px;
  right: -17px;
  top: -6px;
}

.noUi-vertical {
  width: 18px;
}

.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  right: -6px;
  top: -17px;
}

.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
  left: -17px;
  right: auto;
}

.noUi-target {
  background: #FAFAFA;
  border-radius: 4px;
  border: 1px solid #D3D3D3;
  box-shadow: inset 0 1px 1px #F0F0F0,0 3px 6px -5px #BBB;
}

.noUi-connects {
  border-radius: 3px;
}

.noUi-connect {
  background: #3FB8AF;
}

.noUi-draggable {
  cursor: ew-resize;
}

.noUi-vertical .noUi-draggable {
  cursor: ns-resize;
}

.noUi-handle {
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #FFF;
  cursor: default;
  box-shadow: inset 0 0 1px #FFF,inset 0 1px 7px #EBEBEB,0 3px 6px -3px #BBB;
}

.noUi-active {
  box-shadow: inset 0 0 1px #FFF,inset 0 1px 7px #DDD,0 3px 6px -3px #BBB;
}

.noUi-handle:after,
.noUi-handle:before {
  content: "";
  display: block;
  position: absolute;
  height: 14px;
  width: 1px;
  background: #E8E7E6;
  left: 14px;
  top: 6px;
}

.noUi-handle:after {
  left: 17px;
}

.noUi-vertical .noUi-handle:after,
.noUi-vertical .noUi-handle:before {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px;
}

.noUi-vertical .noUi-handle:after {
  top: 17px;
}

[disabled] .noUi-connect {
  background: #B8B8B8;
}

[disabled] .noUi-handle,
[disabled].noUi-handle,
[disabled].noUi-target {
  cursor: not-allowed;
}

.noUi-pips,
.noUi-pips * {
  box-sizing: border-box;
}

.noUi-pips {
  position: absolute;
  color: #999;
}

.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center;
}

.noUi-value-sub {
  color: #ccc;
  font-size: 10px;
}

.noUi-marker {
  position: absolute;
  background: #CCC;
}

.noUi-marker-sub {
  background: #AAA;
}

.noUi-marker-large {
  background: #AAA;
}

.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%;
}

.noUi-value-horizontal {
  transform: translate(-50%, 50%);
}

.noUi-rtl .noUi-value-horizontal {
  transform: translate(50%, 50%);
}

.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}

.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px;
}

.noUi-marker-horizontal.noUi-marker-large {
  height: 15px;
}

.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%;
}

.noUi-value-vertical {
  transform: translate(0, -50%);
  padding-left: 25px;
}

.noUi-rtl .noUi-value-vertical {
  transform: translate(0, 50%);
}

.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px;
}

.noUi-marker-vertical.noUi-marker-sub {
  width: 10px;
}

.noUi-marker-vertical.noUi-marker-large {
  width: 15px;
}

.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #fff;
  color: #000;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}

.noUi-horizontal .noUi-tooltip {
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%;
}

.noUi-vertical .noUi-tooltip {
  transform: translate(0, -50%);
  top: 50%;
  right: 120%;
}

.noUi-horizontal .noUi-origin > .noUi-tooltip {
  transform: translate(50%, 0);
  left: auto;
  bottom: 10px;
}

.noUi-vertical .noUi-origin > .noUi-tooltip {
  transform: translate(0, -18px);
  top: auto;
  right: 28px;
}

.calculus {
  position: relative;
  padding-right: 5px;
}

.calculus:before {
  position: absolute;
  content: "2";
  top: -5px;
  right: 0;
  width: auto;
  height: auto;
  font-family: PT Root UI;
  font-weight: 400;
  font-size: 9px;
}

.btn-small {
  display: flex;
}

.scroll-up {
  position: fixed;
  bottom: 32px;
  right: 32px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  transition-duration: 0.3s;
}

.scroll-up:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect rx='20' fill='%2395D0A1'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20 40C31.0457 40 40 31.0457 40 20C40 8.9543 31.0457 0 20 0C8.9543 0 0 8.9543 0 20C0 31.0457 8.9543 40 20 40Z' fill='url(%23paint0_linear)' fill-opacity='0.3'/%3E%3Cpath d='M20 26.0032L20 14.0032M20 14.0032L24.0006 18.0032M20 14.0032L15.9994 18.0032' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='-20' y1='20' x2='20' y2='60' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23AEE4B2'/%3E%3Cstop offset='1' stop-color='%2395D0A1'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
}

.scroll-up.active {
  opacity: 1;
  visibility: visible;
}

.filter__wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
}

.filter__body {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
}

.filter__title-box {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 700;
  font-size: 54px;
  line-height: 120.37037%;
}

.filter__filter {
  width: 100%;
  max-width: 400px;
  padding: 40px;
  border-radius: 10px;
  background: linear-gradient(135deg, rgba(174, 228, 178, 0.3) 0%, rgba(149, 208, 161, 0.3) 100%);
}

.filter__rooms {
  display: flex;
  margin-bottom: 24px;
}

.filter__room-btn {
  width: 100%;
  flex: 0 1 44px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 0px 0px #95D0A1;
  transition-duration: 0.3s;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
}

.filter__room-btn + .filter__room-btn {
  margin-left: 16px;
}

.filter__room-btn.active {
  color: #fff;
  background-color: #3EB57C;
  box-shadow: 0px 6px 20px #95D0A1;
}

.filter__room-btn.disabled {
  color: rgba(11, 23, 57, 0.2);
}

.filter__count-title {
  cursor: default;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 142.85714%;
  font-weight: 400;
}

.filter__inputs {
  display: flex;
}

.filter__shell {
  width: 100%;
  max-width: 50%;
}

.filter__label {
  display: flex;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}

.filter__start {
  color: rgba(11, 23, 57, 0.5);
}

.filter__input {
  margin: 0 8px;
  width: 100%;
  max-width: 80px;
  font-family: PT Root UI;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  color: #0b1739;
  background-color: inherit;
}

.filter__input :invalid {
  box-shadow: none;
}

.filter__slider {
  margin: 10px 0;
}

.filter__slider.noUi-target {
  height: 3px;
  border: none;
  background-color: rgba(11, 23, 57, 0.1);
  border-radius: 1.5px;
}

.filter__slider .noUi-connect {
  background-color: #3EB57C;
}

.filter__slider .noUi-handle {
  width: 14px;
  height: 14px;
  background: #3EB57C;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: none;
  top: -6px;
  right: 0;
}

.filter__slider .noUi-handle:before,
.filter__slider .noUi-handle:after {
  display: none;
}

.filter__slider .noUi-handle.noUi-handle-lower {
  right: -14px;
}

.filter__reset-btn {
  font-size: 14px;
  line-height: 142.85714%;
  font-weight: 400;
  position: relative;
  padding: 5px 18px;
  background-color: inherit;
}

.filter__reset-btn:before {
  position: absolute;
  content: "";
  top: 50%;
  right: 0;
  transform: translateY(-50%) rotate(0);
  width: 8px;
  height: 8px;
  transition-duration: 0.3s;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.99996 5.22223L1.37727 7.84492C1.12213 8.10007 0.641687 8.0333 0.304183 7.6958C-0.0333213 7.35829 -0.100086 6.87786 0.15506 6.62271L2.77775 4.00002L0.155017 1.37729C-0.100129 1.12214 -0.0333644 0.641701 0.30414 0.304197C0.641644 -0.0333071 1.12208 -0.100072 1.37723 0.155074L3.99996 2.77781L6.62282 0.154956C6.87796 -0.10019 7.3584 -0.0334256 7.6959 0.304079C8.03341 0.641583 8.10017 1.12202 7.84503 1.37717L5.22217 4.00002L7.84498 6.62283C8.10013 6.87797 8.03336 7.35841 7.69586 7.69592C7.35836 8.03342 6.87792 8.10019 6.62277 7.84504L3.99996 5.22223Z' fill='%230B1739'/%3E%3C/svg%3E%0A");
}

.filter__reset-btn:active {
  text-decoration: underline;
}

.filter__content {
  width: 100%;
  margin-top: 100px;
}

.filter__button-load {
  width: 100%;
  margin-top: 50px;
}

.filter__load-more {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  border: 1px solid rgba(11, 23, 57, 0.2);
  border-radius: 25px;
  padding: 8px 26px;
  background-color: transparent;
  transition-duration: 0.3s;
}

.filter__load-more.disabled {
  opacity: 0.7;
}

.filter__load-more:focus {
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.3);
}

.filter__load-more:active {
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.3);
}

.filter .apartments__wrapper {
  color: #0B1739;
  max-width: 800px;
}

.filter .apartments__heading {
  width: 100%;
  display: flex;
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 142.85714%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.filter .apartments__head-space,
.filter .apartments__head-floor,
.filter .apartments__head-handover,
.filter .apartments__head-price {
  white-space: nowrap;
}

.filter .apartments__indicators {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.filter .apartments__indicator {
  position: relative;
  width: 10px;
  height: 6px;
}

.filter .apartments__indicator:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 7px;
  height: 4px;
  transform: translate(-50%, -50%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.filter .apartments__indicator--up:before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 7 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.0345 0.253496C3.87223 0.0898395 3.65798 2.7968e-07 3.42829 2.9976e-07C3.19918 3.1979e-07 2.98377 0.0898396 2.82265 0.253496L0.167554 3.01277C-0.0558463 3.2388 -0.0558462 3.60445 0.167554 3.83048C0.390384 4.05651 0.752053 4.05651 0.975454 3.83048L3.42829 1.27549L5.8817 3.83048C6.1051 4.05651 6.4662 4.05651 6.6896 3.83048C6.913 3.60445 6.913 3.2388 6.6896 3.01277L4.0345 0.253496Z' fill='%23000'/%3E%3C/svg%3E%0A");
}

.filter .apartments__indicator--down:before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 7 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.82335 3.7465C2.98561 3.91016 3.19987 4 3.42956 4C3.65867 4 3.87408 3.91016 4.0352 3.7465L6.69029 0.987232C6.9137 0.761203 6.9137 0.395551 6.69029 0.169522C6.46747 -0.0565073 6.1058 -0.0565073 5.8824 0.169522L3.42956 2.72451L0.976151 0.169522C0.752751 -0.0565073 0.391653 -0.0565073 0.168252 0.169522C-0.0551483 0.395551 -0.0551483 0.761203 0.168252 0.987232L2.82335 3.7465Z' fill='%23000'/%3E%3C/svg%3E%0A");
}

.filter .apartments__indicator.plus:before {
  filter: invert(58%) sepia(17%) saturate(4047%) hue-rotate(111deg) brightness(105%) contrast(55%);
}

.filter .apartments__indicator.middle:before {
  opacity: 0.4;
  filter: invert(9%) sepia(19%) saturate(4295%) hue-rotate(201deg) brightness(97%) contrast(101%);
}

.filter .apartments__indicator.down:before {
  opacity: 0.2;
  filter: invert(9%) sepia(19%) saturate(4295%) hue-rotate(201deg) brightness(97%) contrast(101%);
}

.filter .apartments__price-mark {
  color: #3EB57C;
}

.filter .apartments__body {
  width: 100%;
  display: flex;
  background-color: #fff;
  color: #0B1739;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 17px 0 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  transition-duration: 0.3s;
}

.filter .apartments__box {
  width: 100%;
  display: flex;
}

.filter .apartments__image {
  width: 100%;
  max-width: 66px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  margin-top: 6px;
}

.filter .apartments__flat-ordinal-num {
  font-weight: 500;
}

.filter .apartments__price,
.filter .apartments__space,
.filter .apartments__floor {
  color: #0b1739;
}

.filter .apartments__floor {
  color: rgba(11, 23, 57, 0.5);
}

.filter .apartments__floor :first-child {
  color: #0b1739;
}

.filter .column-1,
.filter .column-2,
.filter .column-3,
.filter .column-4,
.filter .column-5 {
  width: 100%;
}

.filter .column-1 {
  max-width: 100px;
  flex: 0 0 100px;
}

.filter .column-2 {
  width: 280px;
  max-width: 280px;
  flex: 0 1 280px;
}

.filter .column-count {
  width: 120px;
  min-width: 120px;
}

@media (min-width: 767.98px) {
  .filter .apartments__wrapper {
    margin-right: 30px;
  }
}

@media (min-width: 991.98px) {
  .filter .apartments__head-handover {
    display: none;
  }

  .filter .apartments__image {
    margin-left: 8px;
  }

  .filter .apartments__space-metrica,
  .filter .apartments__floor-metrica,
  .filter .apartments__price-currency {
    display: none;
  }
}

@media (max-width: 1470px) {
  .filter__wrapper {
    padding-top: calc(40px + (100 - 40) * ((100vw - 320px) / (1470 - 320)));
    padding-bottom: calc(40px + (100 - 40) * ((100vw - 320px) / (1470 - 320)));
  }

  .filter__title-box {
    font-size: calc(38px + (54 - 38) * ((100vw - 320px) / (1470 - 320)));
  }

  .filter__button-load {
    margin-top: calc(25px + (50 - 25) * ((100vw - 320px) / (1470 - 320)));
  }

  .filter .apartments__wrapper {
    max-width: calc(400px + (800 - 400) * ((100vw - 320px) / (1470 - 320)));
  }

  .filter .column-2 {
    max-width: calc(50px + (280 - 50) * ((100vw - 320px) / (1470 - 320)));
  }
}

@media (max-width: 991.98px) {
  .filter__more-apartments {
    display: none;
  }

  .filter__slider .noUi-handle {
    width: calc(20px + (14 - 20) * ((100vw - 320px) / (991.98 - 320)));
    height: calc(20px + (14 - 20) * ((100vw - 320px) / (991.98 - 320)));
  }

  .filter__slider {
    margin-top: calc(25px + (10 - 25) * ((100vw - 320px) / (991.98 - 320)));
    margin-bottom: calc(35px + (10 - 35) * ((100vw - 320px) / (991.98 - 320)));
  }

  .filter .apartments__heading {
    justify-content: flex-start;
    border-bottom: none;
  }

  .filter .apartments__head-design,
  .filter .apartments__head-flat {
    display: none;
  }

  .filter .apartments__body {
    flex-direction: row-reverse;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 8px;
    padding-top: calc(10px + (16 - 10) * ((100vw - 320px) / (991.98 - 320)));
    padding-bottom: calc(10px + (16 - 10) * ((100vw - 320px) / (991.98 - 320)));
    padding-left: calc(10px + (24 - 10) * ((100vw - 320px) / (991.98 - 320)));
    padding-right: calc(10px + (24 - 10) * ((100vw - 320px) / (991.98 - 320)));
  }

  .filter .apartments__body + .apartments__body {
    margin-top: 5px;
  }

  .filter .apartments__design {
    text-align: right;
  }

  .filter .apartments__box {
    display: block;
  }

  .filter .apartments__flat {
    margin-bottom: 10px;
  }

  .filter .apartments__price,
  .filter .apartments__space,
  .filter .apartments__floor {
    white-space: nowrap;
    margin-right: 30px;
    margin-right: calc(15px + (30 - 15) * ((100vw - 320px) / (991.98 - 320)));
  }

  .filter .apartments__price.column-count,
  .filter .apartments__space.column-count,
  .filter .apartments__floor.column-count {
    margin-left: 0;
  }

  .filter .column-2 {
    width: 100%;
    max-width: 100%;
    flex: 1 1 100%;
  }

  .filter .mrgn-l + .mrgn-l {
    margin-left: 30px;
  }

  .filter .column-count {
    min-width: auto;
    width: auto;
  }
}

@media (max-width: 991.98px) and (max-width: 991.98px) {
  .filter .mrgn-l + .mrgn-l {
    margin-left: calc(15px + (30 - 15) * ((100vw - 320px) / (991.98 - 320)));
  }
}

@media (max-width: 767.98px) {
  .filter__body {
    display: block;
  }

  .filter__title-box {
    position: static;
  }

  .filter__filter {
    padding-top: calc(15px + (40 - 15) * ((100vw - 320px) / (767.98 - 320)));
    padding-bottom: calc(15px + (40 - 15) * ((100vw - 320px) / (767.98 - 320)));
    padding-left: calc(15px + (40 - 15) * ((100vw - 320px) / (767.98 - 320)));
    padding-right: calc(15px + (40 - 15) * ((100vw - 320px) / (767.98 - 320)));
    margin-top: calc(20px + (50 - 20) * ((100vw - 320px) / (767.98 - 320)));
    margin-bottom: calc(30px + (50 - 30) * ((100vw - 320px) / (767.98 - 320)));
    margin-left: auto;
    margin-right: auto;
  }

  .filter__content {
    margin-top: 0;
  }

  .filter__button-load {
    text-align: center;
  }

  .filter .apartments__wrapper {
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  .filter__slider .noUi-handle {
    top: -7px;
  }
}

@media (max-width: 479.98px) {
  .filter .apartments__price {
    display: block;
  }
}

@media (max-width: 400px) {
  .filter__slider .noUi-handle {
    top: -8px;
  }
}

@media (any-hover: hover) {
  .scroll-up:hover {
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.3);
  }

  .filter__room-btn:hover {
    box-shadow: 0px 6px 20px #95D0A1;
  }

  .filter__reset-btn:hover:before {
    transform: translateY(-50%) rotate(90deg);
  }

  .filter__load-more:hover {
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.3);
  }

  .filter .apartments__body:hover {
    box-shadow: inset -8px -8px 30px rgba(0, 0, 0, 0.035), inset 8px 8px 30px rgba(0, 0, 0, 0.035);
  }
}